<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <rewrite>
      <rules>
        <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
          <match url="^$" />
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
            <add input="{QUERY_STRING}" pattern="^source=([^=&amp;]+)&amp;circuit=([^=&amp;]+)$" />
          </conditions>
          <action type="Redirect" url="{C:1}/{C:2}" appendQueryString="false" />
        </rule>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^([^/]+)/([^/]+)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="?source={R:1}&amp;circuit={R:2}" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="OutboundRewriteUserFriendlyURL1" preCondition="ResponseIsHtml1">
          <match filterByTags="A, Form, Img" pattern="^(.*/)\?source=([^=&amp;]+)&amp;(?:amp;)?circuit=([^=&amp;]+)$" />
          <action type="Rewrite" value="{R:1}{R:2}/{R:3}/" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <httpErrors errorMode="Detailed">
      <remove statusCode="404" subStatusCode="-1" />
    </httpErrors>
    <httpRedirect enabled="false" destination="http://dev.townandgownlettingsamazone.co.uk" exactDestination="true" />
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add invariant="System.Data.SqlServerCe.4.0" name="Microsoft® SQL Server® Compact 4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
    <connectionStrings>
        <add connectionString="Server=townandgownlettingscouk.cxaywhgpje6j.eu-west-1.rds.amazonaws.com;Uid=serveradmin;Pwd=Cecest9Elysium08512;Database=townandgownlettings" name="townandgownlettings" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>